<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap" rel="stylesheet">

  <style media="screen">
    .jumbotron {
      margin-top: 0px;
      margin-bottom: 0px;
    }
    h1,h2,h3,h4,h5,h6, label {
font-family: "Noto Sans";
}  

    .jumbotron h1 {
      text-align: center;
    }

  </style>

</head>

<body>

  {% include "quiz/navbar.html" %}
  <br><br>
  <div class="jumbotron" style="margin-bottom:0px;">
    <h1 class="display-4">Hi There!</h1>
    <p class="lead">Welcome to the Emotion Quiz</p>
    <hr class="my-4">
    <p>You can access various administrative features after logging in.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="teachersignup" role="button">Create an Account</a>
      <a class="btn btn-primary btn-lg" href="teacherlogin" role="button">Login</a>
    </p>
    <br><br><br><br>
  </div>
  {% include "quiz/footer.html" %}
</body>

</html>
